.wrapper {
	width: 100%;
	min-height: 100%;
	background: url('../../assets/images/bg_about.jpg') center 0 / cover no-repeat;
	display: flex;
	justify-content: end;
	align-items: center;
	//position: relative;
}

.container {
	//position: absolute;
	//right: 1px;
	//bottom: 100px;
	width: 600px;
	height: 310;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.logoPrev {
	display: block;
	width: 550px;
	height: 185px;
	img {
		width: 100%;
		height: 100%;
	}
}

.text {
	//text-indent: 60px;
	width: 550px;
	color: #f7f7f7;
	font-size: 1.4rem;
	margin-top: 80px;
	//font-family: 'Rambla', sans-serif;
	//font-family: 'Rubik Mono One', sans-serif;
}

.btn {
	width: 340px;
	height: 40px;
	left: 985px;
	top: 760px;
	font-size: 1.12rem;
	color: #ffffff;
	background: #3d0075;
	border-radius: 8px;
	margin-top: 20px;
	border: 0;
	font-family: 'Rambla', sans-serif;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		color: #3d0075;
		background: #ffffff;
	}
	&:active {
		transform: scale(1.03);
	}
}
