.rooms {
	max-width: 1200px;
	margin: 30px auto 0 auto;
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}

.container {
	width: 400px;
	display: flex;

	flex-direction: column;
	align-items: center;
	.logoPrev {
		display: block;
		width: 350px;
		height: 185px;
		transition: 1s;
		img {
			width: 100%;
			height: 100%;
		}
		&:hover {
			opacity: 0;
		}
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.items {
	width: 900px;
	height: 68vh;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}
.btn {
	margin-top: -10px;
	width: 240px;
	height: 40px;
	left: 985px;
	top: 760px;
	font-size: 1.12rem;
	color: #ffffff;
	background: #3d0075;
	border-radius: 8px;
	border: 0;
	font-family: 'Rambla', sans-serif;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		color: #3d0075;
		background: #ffffff;
	}
	&:active {
		transform: scale(1.03);
	}
}
