.wrapper {
	margin: 40px;
	h2 {
		margin-bottom: 15px;
	}
}
.container {
	display: flex;
	justify-content: center;
	height: 300px;
	margin-bottom: 50px;
	.visitors {
		padding: 15px;
		width: 25%;
		overflow: auto;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
	}
	.options {
		padding: 15px;
		position: relative;
		width: 50%;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.gamers {
		overflow: auto;
		padding: 15px;
		width: 25%;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
	}
}

.btn {
	color: #ffffff;
	font-weight: 800;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: none;
	padding: 0 10px;
	margin: 10px;
	background-color: #34a22a;
	cursor: pointer;

	&:active {
		filter: brightness(0.8);
	}
}

.chat_wrapper {
	display: flex;
	.chat {
		padding: 15px;
		width: 60%;
		height: 150px;
		margin-left: 30px;
		border-radius: 5px;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
		overflow: auto;
	}

	.input_chat {
		width: 35%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
