.wrapper {
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	//a {
	//	width: 110px;
	//	height: 25px;
	//}
}

.logo {
	width: 70px;
	height: 70px;
	margin: 0 10px;
	img {
		width: 100%;
		height: 100%;
	}
}

.btns {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.btn {
	color: #001584;
	width: 100px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid #001584;
	padding: 0 10px;
	margin: 10px;
	background-color: white;
	cursor: pointer;

	&:active {
		transform: scale(1.05);
	}
}

.active {
	color: white;
	width: 100px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid #001584;
	padding: 0 10px;
	margin: 10px;
	background-color: #001584;
	&:hover {
	}
}
