.wrapper {
	display: flex;
	flex-direction: column;
	//height: 100vh;
	//height: calc(100vh + 100px);
}
.header {
	height: 60px;
}
.content {
	height: calc(100vh - 100px);
}
.footer {
	//justify-content: flex-end;
	height: 40px;
}
